*{
  box-sizing: border-box;
}

.container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
  align-items: stretch;
  grid-auto-rows: 200px;
  gap: .5em;

  grid-auto-flow: dense;

  background-color: #303030;
  padding: 15px;
}

img{
  border: 1px solid white;
  max-width: 100%;
}

.a ,.b, .e, .d{
  grid-row: span 2;
}

.c , .f, .e, .d{
  grid-column: span 2;
}










